<header>
    <!-- place navbar here -->
    <nav class="navbar navbar-expand-lg fixed-top box-shadow">
        <div class="container">
            <a class="navbar-brand" href="index.html">WISH<Span class="text-dark">COWORK</Span></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="location.html" id="locationDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false"
                            onclick="window.location.href = 'location.html';">Locations</a>
                        <ul class="dropdown-menu p-3" aria-labelledby="locationDropdown" style="min-width: 400px;">
                            <li><a class="dropdown-header">Popular Locations</a></li>
                            <div class="row">
                                <div class="col-md-6">
                                    <li><a class="dropdown-item disabled" href="/location/gurugram/gurugram.html">Gurugram</a></li>
                                    <li><a class="dropdown-item disabled" href="/location/bangalore/bangalore.html">Bangalore</a></li>
                                    <li><a class="dropdown-item disabled" href="/location/mumbai/mumbai.html">Mumbai</a></li>
                                    <li><a class="dropdown-item disabled" href="/location/hyderabad/hyderabad.html">Hyderabad</a></li>
                                    <li><a class="dropdown-item disabled" href="/location/pune/pune.html">Pune</a></li>
                                    <li><a class="dropdown-item disabled" href="/location/delhi/delhi.html">Delhi</a></li>
                                    <li><a class="dropdown-item disabled" href="/location/noida/noida.html">Noida</a></li>
                                    <li><a class="dropdown-item disabled" href="/location/ahmedabad/ahmedabad.html">Ahmedabad</a></li>
                                    <li><a class="dropdown-item disabled" href="/location/indore/indore.html">Indore</a></li>
                                </div>
                                <div class="col-md-6">
                                    <li><a class="dropdown-item disabled" href="/location/chennai/chennai.html">Chennai</a></li>
                                    <li><a class="dropdown-item disabled" href="/location/kochi/kochi.html">Kochi</a></li>
                                    <li><a class="dropdown-item" href="location/Jaipur/jaipur.html">Jaipur</a></li>
                                    <li><a class="dropdown-item disabled" href="/location/bhubaneswar/bhubaneswar.html">Bhubaneswar</a></li>
                                    <li><a class="dropdown-item disabled" href="/location/coimbatore/coimbatore.html">Coimbatore</a></li>
                                    <li><a class="dropdown-item disabled" href="/location/chandigarh/chandigarh.html">Chandigarh</a></li>
                                    <li><a class="dropdown-item disabled" href="/location/goa/goa.html">Goa</a></li>
                                    <li><a class="dropdown-item disabled" href="/location/kolkata/kolkata.html">Kolkata</a></li>
                                </div>
                            </div>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="virtual-office.html">Virtual Office</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="space.html">Space</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pricing.html">Pricing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about-us.html">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contact.html">Contact</a>
                    </li>
                </ul>
                <div class="d-flex">
                    <a href="tel:+919555730319" class="btn btn-outline-dark me-2">
                        <i class="fas fa-phone-alt me-1"></i> +91 95557 30319
                    </a>
                    <a href="contact.html" class="btn btn-dark">Book a Tour</a>
                </div>
            </div>
        </div>
    </nav>
</header>
